.typeahead__form {
  display: inline-block;
  border: none;
  min-width: 20rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 25px -8px rgba(0, 0, 0, 0.58);
}

.typeahead__list {
  max-height: 20rem;
  overflow: scroll;
  border-left: solid rgba(192, 192, 192, 1) 1px;
  border-right: solid rgba(192, 192, 192, 1) 1px;
  transition: all 0.5s;
}

.typeahead__find {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  width: 100%;
  border: solid rgba(192, 192, 192, 1) 1px;
  outline: none;
}

.typeahead__find--selected {
  border: solid green 1px;
}

/* Hide list when User clicks off form */
.typeahead__form:not(:hover) .typeahead__find:not(:focus) + .typeahead__list {
  opacity: 0;
  height: 0;
}

.typeahead__data {
  padding: 0.3rem 0.5rem;
  font-weight: 200;
  font-size: 0.7rem;
  cursor: pointer;
  list-style: none;
  border-bottom: solid rgba(192, 192, 192, 0.4) 1px;
  transition: all 1s;
  color: rgba(50, 50, 50, 1)
}

.typeahead__data--matched {
  font-weight: 400;
  color: rgba(0, 0, 0, 1)
}

.typeahead__data--hover {
  background-color: rgba(192, 192, 192, 0.4);
}

.typeahead__data:last-child {
  border-bottom: solid rgba(192, 192, 192, 1) 1px;
}
